<!DOCTYPE html>
<html lang="en">

    <head>
        <!--meta tag-->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=11,IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="A unique, whole-school approach for engaging families with their child’s education and well-being. Supported by experts in parental engagement, our engagement strategies, easy to use technology, training and support enable students to achieve more!" />
        <meta name="author" content="admin" />
        <!--<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />-->
    
        <!--favicon-->
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/images/favicon.png" type="image/png" />

    
        <!--fonts-->
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,900italic,900,700italic,700,500,500italic,400italic' rel='stylesheet' type='text/css' />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <!--minified css-->
        <link href="css/site.css" rel="stylesheet" type="text/css" />

        <!--original links-->
        <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />-->
        <!--<link href="https://vasyabigi.github.io/angular-slick/bower_components/slick-carousel/slick/slick.css" rel='stylesheet' type='text/css' />-->

        <title ng-bind="Title">InvolvEd | ACHIEVE MORE with Parental Engagement</title>

        <base href="/">
    </head>
    
    <body>
        <div class="overlay"></div>
        <div id="preloader_right_content2" style="display:none">
            <div id="status_right_content2"></div>
        </div>

            <!--header start-->
            <header class="header">
                <div class="container">

                    <div class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" id="collapse_btn" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo"><a href="/"><img src="/images/logo.png" alt=""></a></div>
                        </div>
                        <!-- <div class="teacher_login"><a>Portal Login</a>
                            <div class="dropdown-content">
                                <a href="javascript:void(null);" ng-click="redirectToTeacher()">Teacher Portal</a>
                                <a href="javascript:void(null);" ng-click="redirectToStudent()">Student Portal</a>
                            </div>
                        </div> -->
                        <div class="navbar-collapse collapse" id="collapse_div">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Home</a></li>
                                <li><a href="./support.html">Support</a></li>
                                <li><a href="/#contactus_section">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!--header end-->

<div class="inner_content">

    <!--title block no banner-->
        <div class="container">
            <div class="row">
                <div class="title_block_no_banner">
                    <h2> Acceptable Use Policy </h2>
                    <span><i>Welcome to InvolvEd - thank you for using our products and services to improve and simplify parental engagement.</i></span>
                </div>                                  
            </div> 
        </div>

<!--banner end-->

<!--AUP starts-->

    <div class="container">
        <div class="row">     
            <div class="page-body">
                <p> The InvolvEd Applications and Support Services <b>“Services”</b> are operated by InvolvEdTech LLP <b>(“We”, “Our” or “Us”)</b>. 
                    We are registered in England and Wales under company number OC411317 and we have our registered office at 27 Old Gloucester Street, London, WC1N 3AX.</p>

                <p>This Acceptable Use Policy sets out the terms between Our User <b>(“You”)</b> and Us under which you may access and use Our Services. 
                    This policy covers all users (whether teacher, parent/guardian, student or anyone else) that access our Service.</p>

                <p>By accessing our services, you <b>agree</b> to abide by this Acceptable Use Policy 
                    which supplements our <a href="/tandc">Terms and Conditions</a>.</p> 

                <p>You are responsible for your account and any activities conducted through this account. 
                    Parent/Guardian users are also responsible for all activities that students conduct through their accounts. 
                    No other users may use your account to access our Services.</p>  

                <h3>Purpose</h3>

                <p> InvolvEd is designed to empower parents in becoming actively involved in their children’s education. 
                    The InvolvEd applications have a purpose of allowing users to interact with each other on the subject of student attainment and behaviour. 
                    You must use the various features such as messaging, tasks and student performance to become informed and engaged in a child’s education.</p>  
                
                <p> Any use of the various features beyond the sole purpose of improving student attainment are not acceptable. 
                    These prohibitions are at our discretion and are listed in this policy.</p>
                
                <h3>Prohibited Use</h3>

                <p>You may use our Service only for lawful purposes. You may not use our Service:</p>
                
                <ul>
                    <li>In any way that breaches any applicable local, national or international law or regulation.</li>
                    <li>In any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect.</li>
                    <li>For the purpose of harming or attempting to harm minors in any way.</li>
                    <li>To send, knowingly receive, upload, download, use or re-use any material which does not comply with our Purpose (as defined above).</li>
                    <li>To transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam).</li>
                    <li>To knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</li>
                </ul>
                <p>You also agree:</p>
                <ul>                                    
                    <li>Not to use offensive language including but not limited to racism, threats, insults, hatred and lewd remarks.</li>
                    <li>Not to distribute inappropriate content including but not limited to adult images and videos, personal images, images of other students, content that incites racism, threats, insults, hatred etc. </li>
                    <li>Not to share your personal contact details. All communications must be via InvolvEd or the contact details the school retains.</li>
                    <li>Not to use InvolvEd for the purposes of buying or selling services or goods.</li>
                    <li>Not to reproduce, duplicate, copy or re-sell any part of InvolvEd in contravention of the provisions of our <a href="/tandc">Terms and Conditions</a>.</li>
                    <li>Not to share your login credentials with any other person.</li>
                    <li>Not to access without authority, interfere with, damage or disrupt: any part of our Service; any equipment or network on which our applications are stored; any software used in the provision of our Service; or any equipment or network or software owned or used by any third party.</li>
                </ul>

                <h3>Content Standards</h3>

                <p>These content standards apply to any and all material which you contribute to our Services (Contributions).</p>
                
                <p>You must comply with the spirit and the letter of the following standards. The standards apply to each part of any contribution as well as to its whole.</p>
                
                <p>Contributions must:</p>

                    <ul>
                    <li>Be accurate and correct (where they state facts), and reference a reputable source where possible.</li>
                    <li>Be genuinely held (where they state opinions) and be expressed as an opinion.</li>
                    <li>Must be of a good quality, any images should be clear and easy to read.</li>
                    <li>Be legible, understandable, clear, free from errors and well written.</li>
                    <li>Comply with applicable law in the UK and in any country from which they are posted.</li>
                </ul>
                <p>Contributions must not:</p>
                <ul>                                    
                    <li>Contain any material which is defamatory of any person.</li>
                    <li>Contain any material which is obscene, offensive, hateful or inflammatory.</li>
                    <li>Promote sexually explicit material.</li>
                    <li>Promote violence.</li>
                    <li>Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.</li>
                    <li>Infringe any copyright, database right or trade mark of any other person.</li>
                    <li>Be likely to deceive any person.            
                    <li>Be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence.</li>
                    <li>Promote any illegal activity.</li>
                    <li>Be threatening, abuse or invade another’s privacy, or cause annoyance, inconvenience or needless anxiety.</li>
                    <li>Be likely to harass, upset, embarrass, alarm or annoy any other person.</li>
                    <li>Be used to impersonate any person, or to misrepresent your identity or affiliation with any person.</li>
                    <li>Give the impression that they emanate from us, if this is not the case.</li>
                    <li>Advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.</li>
                </ul>
                
                <h3>Suspension and Termination</h3>

                <p>We will determine, at our discretion, whether there has been a breach of this Acceptable Use Policy through your use of our Services. 
                    When a breach of this policy has occurred, we may take such action as we deem appropriate.</p>
                
                <p>Failure to comply with this Acceptable Use Policy constitutes a material breach of the <a href="/tandc">Terms and Conditions</a> upon which you are permitted to use our Service, 
                and may result in our taking all or any of the following actions:</p>
                
                <ul>
                    <li>Immediate, temporary or permanent withdrawal of your right to use our Service.</li>
                    <li>Immediate, temporary or permanent removal of any posting or material uploaded by you to our Service.</li>
                    <li>Issue of a warning to you.</li>
                    <li>Legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach.</li>
                    <li>Further legal action against you.</li>
                    <li>Disclosure of such information to law enforcement authorities as we reasonably feel is necessary.</li> 
                </ul>

                <p>We exclude liability for actions taken in response to breaches of this Acceptable Use Policy. 
                    The responses described in this policy are not limited, and we may take any other action we reasonably deem appropriate.</p>

                <h3>Changes to the Acceptable Use Policy</h3>

                <p>We may revise this Acceptable Use Policy at any time by amending this page. 
                    You are expected to check this page from time to time to take notice of any changes we make, as they are legally binding on you. 
                    Some of the provisions contained in this Acceptable Use Policy may also be superseded by provisions or notices published elsewhere on our Service. </p>
            </div>
        </div>
    </div>
</div>
<!--AUP ends -->

<!--Footer Start-->
<footer class="footer_outr" id="contactus_section">
    <div class="footer-top">
        <div class="container">
            <div class="footer-topA clearfix">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="footer-colA">
                            <a href="javascript:void(0)"><img src="/images/logo.png" alt=""></a>
                            <div class="footer-social">
                                <a href="https://www.facebook.com/involvedtech/" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/InvolvEdTech/" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/company/15252058" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-5">
                        <div class="footer-colB">
                            <a href="tel:+44-7413440211">
                                <img src="/images/tel-icon.png" alt="" />
                                +44 (0) 7413 440 211
                            </a>
                            <a href="mailto:involvedtechllp@gmail.com">
                                <img src="/images/mail-icon.png" alt="" />
                                involvedtechllp@gmail.com
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-5">
                        <div class="footer-colC">
                            <div class="location">
                                <img src="/images/location-icon.png" alt="" />
                                <p>27 Old Gloucester Street <span>London</span> <span>WC1N 3AX</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        <div class="footer-colD">
                            <ul class="footer-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="./support.html">Support</a></li>
                                <!--<li><a href="/blogs">Blogs</a></li>-->
                                <li><a href="./faqs.html">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-topB">
                <div class="clearfix">
                    <ul class="company-policy clearfix">
                        <li><a href="./tandc.html">Terms & Conditions</a></li>
                        <li><a href="./cp.html">Cookies</a></li>
                        <li><a href="./pp.html">Privacy Policy</a></li>
                        <li><a href="./aup.html">Acceptable Use Policy</a></li>
                    </ul>
                    <div class="copy">© Copyright 2017 InvolvEdTech LLP Registered in England and Wales Registration OC411317</div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottomIn clearfix">
                <h2>Schedule a 15 minute call to find out more...</h2>

                <button data-target="#myModal" data-toggle="modal" class="btn btn-info btn-default" data-keyboard="true"
                        ng-click="bookDemo();">
                    Book Now
                </button>

            </div>
        </div>
    </div> -->
</footer>
<!--footer end-->

<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>    
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="js/angular-touch.js"></script>
<script type="text/javascript" src="js/angular-sanitize.js"></script>

<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap-select.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="js/taggedInfiniteScroll.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/slick.js"></script>
<script type="text/javascript" src="js/placeholders.min.js"></script>

<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<script>
$(document).ready(function () {
    $(".header .navbar-toggle").click(function () {
        $("body").toggleClass("addpanel");
    });
    $(".overlay").click(function () {
        $("body").removeClass("addpanel");
        $('.navbar-collapse').collapse('toggle')
    });
});
</script>

<!--[if lt IE 11]>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond/js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>