<!DOCTYPE html>
<html lang="en">

    <head>
        <!--meta tag-->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=11,IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="A unique, whole-school approach for engaging families with their child’s education and well-being. Supported by experts in parental engagement, our engagement strategies, easy to use technology, training and support enable students to achieve more!" />
        <meta name="author" content="admin" />
        <!--<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />-->
    
        <!--favicon-->
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/images/favicon.png" type="image/png" />

    
        <!--fonts-->
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,900italic,900,700italic,700,500,500italic,400italic' rel='stylesheet' type='text/css' />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <!--minified css-->
        <link href="css/site.css" rel="stylesheet" type="text/css" />

        <!--original links-->
        <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />-->
        <!--<link href="https://vasyabigi.github.io/angular-slick/bower_components/slick-carousel/slick/slick.css" rel='stylesheet' type='text/css' />-->

        <title ng-bind="Title">InvolvEd | ACHIEVE MORE with Parental Engagement</title>

        <base href="/">
    </head>
    
    <body>
        <div class="overlay"></div>
        <div id="preloader_right_content2" style="display:none">
            <div id="status_right_content2"></div>
        </div>

            <!--header start-->
            <header class="header">
                <div class="container">

                    <div class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" id="collapse_btn" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo"><a href="/"><img src="/images/logo.png" alt=""></a></div>
                        </div>
                        <!-- <div class="teacher_login"><a>Portal Login</a>
                            <div class="dropdown-content">
                                <a href="javascript:void(null);" ng-click="redirectToTeacher()">Teacher Portal</a>
                                <a href="javascript:void(null);" ng-click="redirectToStudent()">Student Portal</a>
                            </div>
                        </div> -->
                        <div class="navbar-collapse collapse" id="collapse_div">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Home</a></li>
                                <li><a href="./support.html">Support</a></li>
                                <li><a href="/#contactus_section">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!--header end-->


            <div class="inner_content">
<!--title block no banner-->
    <div class="container">
        <div class="row">
            <div class="title_block_no_banner">
                <h2> Cookies Policy </h2>
                <span><i>Welcome to InvolvEd - thank you for using our products and services to improve and simplify parental engagement.</i></span>
            </div>                                  
        </div> 
    </div>
<!--banner end-->

<!--CP starts-->
    <div class="container">
        <div class="row">     
            <div class="page-body">
                <p> InvolvEdTech LLP of 27 Old Gloucester Street, London, WC1N 3AX uses cookies to provide the services of their InvolvEd web application. The cookies can be split into three categories. Cookies that are required to provide our services to you. 
                    Cookies that enhance the performance of our services and cookies that assist the functionality of our services. </p>

                <p>Some of these cookies are persistent cookies that remain with your machine upon ceasing use of the InvolvEd application. 
                    Other cookies are session cookies that expire upon ceasing the current session of use for our services.</p>

                <h3>Required</h3> 

                <p>The required cookies are necessary to provide the InvolvEd services to you. 
                    These cookies allow us to ensure that you are a verified and authorised user of InvolvEd, in turn protecting your personal data. 
                    Without these cookies being stored on your device, unfortunately we would not be able to provide our services to you. </p> 

                <h3>Enhance Performance</h3> 

                <p>Cookies that enhance performance are designed to provide an efficient service to you. 
                    Some of our services request data from a database. 
                    In order to save loading time and ensure that you receive information at an instant we use these cookies. 
                    Without these cookies being stored on your device, there may be some lag in screens loading or some abnormalities on screens.</p> 

                <h3>Assist Functionality</h3> 

                <p>Cookies that assist functionality are designed to provide a great user experience when using our services. 
                    They help with functionality such as: remember my e-mail and password, remembering the week you were viewing when addressing tasks, etc. 
                    These cookies will make the web application more responsive, efficient and easy to use.</p> 

                <p>You may choose to refuse cookies using your browser settings. 
                    This may partially or completely impact on your ability to use our services. 
                    If your browser settings are not configured to refuse cookies, then cookies will automatically be issued upon login to our services.</p>  
                
                <p>For more information about cookies, please visit http://www.aboutcookies.org/ or contact us on <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a>.</p> 
            </div>
        </div>
    </div>
</div>
<!--CP ends -->
<!--Footer Start-->
<footer class="footer_outr" id="contactus_section">
    <div class="footer-top">
        <div class="container">
            <div class="footer-topA clearfix">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="footer-colA">
                            <a href="javascript:void(0)"><img src="/images/logo.png" alt=""></a>
                            <div class="footer-social">
                                <a href="https://www.facebook.com/involvedtech/" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/InvolvEdTech/" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/company/15252058" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-5">
                        <div class="footer-colB">
                            <a href="tel:+44-7413440211">
                                <img src="/images/tel-icon.png" alt="" />
                                +44 (0) 7413 440 211
                            </a>
                            <a href="mailto:involvedtechllp@gmail.com">
                                <img src="/images/mail-icon.png" alt="" />
                                involvedtechllp@gmail.com
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-5">
                        <div class="footer-colC">
                            <div class="location">
                                <img src="/images/location-icon.png" alt="" />
                                <p>27 Old Gloucester Street <span>London</span> <span>WC1N 3AX</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        <div class="footer-colD">
                            <ul class="footer-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="./support.html">Support</a></li>
                                <!--<li><a href="/blogs">Blogs</a></li>-->
                                <li><a href="./faqs.html">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-topB">
                <div class="clearfix">
                    <ul class="company-policy clearfix">
                        <li><a href="./tandc.html">Terms & Conditions</a></li>
                        <li><a href="./cp.html">Cookies</a></li>
                        <li><a href="./pp.html">Privacy Policy</a></li>
                        <li><a href="./aup.html">Acceptable Use Policy</a></li>
                    </ul>
                    <div class="copy">© Copyright 2017 InvolvEdTech LLP Registered in England and Wales Registration OC411317</div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottomIn clearfix">
                <h2>Schedule a 15 minute call to find out more...</h2>

                <button data-target="#myModal" data-toggle="modal" class="btn btn-info btn-default" data-keyboard="true"
                        ng-click="bookDemo();">
                    Book Now
                </button>

            </div>
        </div>
    </div> -->
</footer>
<!--footer end-->

<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>    
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="js/angular-touch.js"></script>
<script type="text/javascript" src="js/angular-sanitize.js"></script>

<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap-select.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="js/taggedInfiniteScroll.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/slick.js"></script>
<script type="text/javascript" src="js/placeholders.min.js"></script>

<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<script>
$(document).ready(function () {
    $(".header .navbar-toggle").click(function () {
        $("body").toggleClass("addpanel");
    });
    $(".overlay").click(function () {
        $("body").removeClass("addpanel");
        $('.navbar-collapse').collapse('toggle')
    });
});
</script>

<!--[if lt IE 11]>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond/js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>