<!DOCTYPE html>
<html lang="en">

    <head>
        <!--meta tag-->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=11,IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="A unique, whole-school approach for engaging families with their child’s education and well-being. Supported by experts in parental engagement, our engagement strategies, easy to use technology, training and support enable students to achieve more!" />
        <meta name="author" content="admin" />
        <!--<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />-->
    
        <!--favicon-->
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/images/favicon.png" type="image/png" />
    
        <!--fonts-->
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,900italic,900,700italic,700,500,500italic,400italic' rel='stylesheet' type='text/css' />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <!--minified css-->
        <link href="css/site.css" rel="stylesheet" type="text/css" />

        <!--original links-->
        <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />-->
        <!--<link href="https://vasyabigi.github.io/angular-slick/bower_components/slick-carousel/slick/slick.css" rel='stylesheet' type='text/css' />-->

        <title ng-bind="Title">InvolvEd | ACHIEVE MORE with Parental Engagement</title>

        <base href="/">
    </head>
    
    <body>
        <div class="overlay"></div>
        <div id="preloader_right_content2" style="display:none">
            <div id="status_right_content2"></div>
        </div>

            <!--header start-->
            <header class="header">
                <div class="container">

                    <div class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" id="collapse_btn" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo"><a href="/"><img src="/images/logo.png" alt=""></a></div>
                        </div>
                        <!-- <div class="teacher_login"><a>Portal Login</a>
                            <div class="dropdown-content">
                                <a href="javascript:void(null);" ng-click="redirectToTeacher()">Teacher Portal</a>
                                <a href="javascript:void(null);" ng-click="redirectToStudent()">Student Portal</a>
                            </div>
                        </div> -->
                        <div class="navbar-collapse collapse" id="collapse_div">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Home</a></li>
                                <li><a href="/support.html">Support</a></li>
                                <li><a href="/#contactus_section">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!--header end-->


<div class="inner_content">

    <!--title block no banner-->
    <div class="container">
        <div class="row">
            <div class="title_block_no_banner">
                <h2> Frequently Asked Questions </h2>
                <span><i>Welcome to InvolvEd - thank you for using our products and services to improve and simplify parental engagement.</i></span>
            </div>
        </div>
    </div>
    <!--banner end-->

    <!--FAQ's start-->
    <div class="container">
        <div class="row">
            <div class="page-body">

                <h3>Accessing InvolvEd</h3>

                <p><b>Q. Where can I download the parent/guardian or student app?</b></p>
                <p>A. The InvolvEd app is available from the Apple App Store and Google Play Store. Search for InvolvEd or InvolvEdTech. Parent/Guardian and Student accounts are accessed through the same app.</p>

                <p><b>Q. How can I access the Teacher’s Web Portal?</b></p>
                <p>A. The Teacher’s Web Portal is accessible on all major browsers via <a href="/teacher/index.html">www.involvedtech.co.uk/teacher</a>.</p>

                <h3>Account Maintenance</h3>

                <p><b>Q. How can I get support on general enquiries?</b></p>
                <p>A. Please submit any general query from the Contact Us page found in the Settings menu of the app or email us directly on <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a>.</p>

                <p><b>Q. I did not receive a verification email. How can I get support?</b></p>
                <p>A. A. Please check your junk/spam folder for the verification email. If unavailable, you may request a new verification email or contact InvolvEd support team on <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a>.</p>

                <p><b>Q. How do I change my password?</b></p>
                <p>A. You can change your password using the Change Password option in the Settings menu.</p>

                <p><b>Q. I have forgotten my password. How can I reset my password?</b></p>
                <p>A. Please go to Forgot Email/Password page and follow instructions. A new password will be sent to the entered email address.</p>

                <p><b>Q. I have forgotten my email/username. How can I access my account?</b></p>
                <p>A. Please go to Forgot Email/Password page and follow instructions.</p>

                <p><b>Q. I think someone may have access to my account? What do I do?</b></p>
                <p>A. Please change your password immediately and submit a support request using the Contact Us form found in the Settings menu of the app or email us directly on <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a>.</p>

                <h3>Parent/Guardian and Student Accounts</h3>

                <p><b>Q. Do I need to register to access my child’s information?</b></p>
                <p>A. Yes. To register, you must complete the form under the Register tab in the parent/guardian section of the app. Then you must add your child to get access to their student profile.</p>

                <p><b>Q. How can I Add a Student?</b></p>
                <p>A. Parents/Guardians can add a student after registering and logging into the Parent/Guardian App. Click on Add a Student icon on the Home Screen and enter the Student Unique Code and student date of birth.</p>

                <p><b>Q. What is a Student Unique Code?</b></p>
                <p>A. Student Unique Code is a secure 8-digit code that is specific to a student/child profile.</p>

                <p><b>Q. How can I obtain my child’s Student Unique Code?</b></p>
                <p>The Student Unique Code can only be obtained from your child’s school. Please contact reception at your child’s school and ask for your child’s Student Unique Code.</p>

                <p><b>Q. What if the Student Unique Code does not work/is lost?</b></p>
                <p>A. Contact your child’s school and request a new Student Unique Code.</p>

                <p><b>Q. How can a student receive their Username and Password?</b></p>
                <p>A. Firstly, A parent/guardian must add their child (see FAQ ‘How can I Add a Student) to unlock their child’s account. The parent/guardian will then be emailed the Username and Password of the student’s account.</p>

                <p><b>Q. How can I Remove a Student?</b></p>
                <p>A. Parents/Guardians can remove a student by entering Student Unique Code and date of birth of the student/child in the Remove a Student screen found in Settings menu.</p>

                <p><b>Q. How can I deactivate my account?</b></p>
                <p>A. Parents/Guardians can deactivate their account by following the instructions in the Accounts section of the Settings menu.</p>

                <p><b>Q. I think someone may have access to my child’s Student Unique Code? What do I do?</b></p>
                <p>A. Please submit a support request immediately using the Contact Us form found in the Settings menu or email us directly on <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a>.</p>

                <p><b>Q. As a student, why am I not able to request a teacher’s support on some tasks?</b></p>
                <p>A. Students can only request a teacher’s support on tasks that have a due date in the future. Schools may also choose to disable this feature of InvolvEd. Please contact us through Contact Us form or <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a> if you require further information.</p>

                <h3>Features</h3>

                <p><b>Q. I don’t understand some of the information shown on the app?</b></p>
                <p>A. For clarity on the data and its meaning, please contact the school staff/teacher through the messaging feature of the InvolvEd app.</p>

                <p><b>Q. Why can’t I see any performance data for my student/child?</b></p>
                <p>A. Performance data will be shown as soon as it is made available by the school. Schools may also decide not to show any performance data through InvolvEd. In this instance, please contact the school for further clarification.</p>

                <p><b>Q. As a parent, why am I not able to message teachers directly?</b></p>
                <p>A. If you are not able to message teachers directly, this is because your child’s school has opted to disable the two-way communication feature of InvolvEd. Please contact the school for further clarification.</p>

                <p><b>Q. I do not see any information on my account when I login. Who can I contact?</b></p>
                <p>A. For all queries relating to features and functionality of InvolvEd, please contact the InvolvEd support team on <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a>.</p>

                <p><b>Q. How can I report unacceptable behaviour/use of product?</b></p>
                <p>A. Please contact the InvolvEd support team on <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a> with your name, date of birth from your email registered with InvolvEd.</p>

                <h3>Notifications</h3>

                <p><b>Q. How can I turn off notifications?</b></p>
                <p>A. Notifications can be turned off from the Settings menu.</p>

                <p><b>Q. I am not getting notifications. How can I get support?</b></p>
                <p>A. Please turn on notifications in the Settings menu of the app/web portal. If the problem persists, please contact the InvolvEd support team on <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a>.</p>

            </div>
        </div>
    </div>
    <!--FAQs ends-->

</div>

<!--Footer Start-->
<footer class="footer_outr" id="contactus_section">
    <div class="footer-top">
        <div class="container">
            <div class="footer-topA clearfix">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="footer-colA">
                            <a href="javascript:void(0)"><img src="/images/logo.png" alt=""></a>
                            <div class="footer-social">
                                <a href="https://www.facebook.com/involvedtech/" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/InvolvEdTech/" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/company/15252058" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-5">
                        <div class="footer-colB">
                            <a href="tel:+447875430505">
                                <img src="/images/tel-icon.png" alt="" />
                                +44 (0) 7875 430 505
                            </a>
                            <a href="mailto:contact@involvedtech.co.uk">
                                <img src="/images/mail-icon.png" alt="" />
                                contact@involvedtech.co.uk
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-5">
                        <div class="footer-colC">
                            <div class="location">
                                <img src="/images/location-icon.png" alt="" />
                                <p>27 Old Gloucester Street <span>London</span> <span>WC1N 3AX</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        <div class="footer-colD">
                            <ul class="footer-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="./support.html">Support</a></li>
                                <!--<li><a href="/blogs">Blogs</a></li>-->
                                <li><a href="./faqs.html">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-topB">
                <div class="clearfix">
                    <ul class="company-policy clearfix">
                        <li><a href="./tandc.html">Terms & Conditions</a></li>
                        <li><a href="./cp.html">Cookies</a></li>
                        <li><a href="./pp.html">Privacy Policy</a></li>
                        <li><a href="./aup.html">Acceptable Use Policy</a></li>
                    </ul>
                    <div class="copy">© Copyright 2017 InvolvEdTech LLP Registered in England and Wales Registration OC411317</div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottomIn clearfix">
                <h2>Schedule a 15 minute call to find out more...</h2>

                <button data-target="#myModal" data-toggle="modal" class="btn btn-info btn-default" data-keyboard="true"
                        ng-click="bookDemo();">
                    Book Now
                </button>

            </div>
        </div>
    </div> -->
</footer>
<!--footer end-->

<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>    
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="js/angular-touch.js"></script>
<script type="text/javascript" src="js/angular-sanitize.js"></script>

<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap-select.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="js/taggedInfiniteScroll.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/slick.js"></script>
<script type="text/javascript" src="js/placeholders.min.js"></script>

<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<script>
$(document).ready(function () {
    $(".header .navbar-toggle").click(function () {
        $("body").toggleClass("addpanel");
    });
    $(".overlay").click(function () {
        $("body").removeClass("addpanel");
        $('.navbar-collapse').collapse('toggle')
    });
});
</script>

<!--[if lt IE 11]>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond/js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>