<!DOCTYPE html>
<html lang="en">

    <head>
        <!--meta tag-->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=11,IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="A unique, whole-school approach for engaging families with their child’s education and well-being. Supported by experts in parental engagement, our engagement strategies, easy to use technology, training and support enable students to achieve more!" />
        <meta name="author" content="admin" />
        <!--<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />-->
    
        <!--favicon-->
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/images/favicon.png" type="image/png" />
    
        <!--fonts-->
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,900italic,900,700italic,700,500,500italic,400italic' rel='stylesheet' type='text/css' />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <!--minified css-->
        <link href="css/site.css" rel="stylesheet" type="text/css" />

        <!--original links-->
        <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />-->
        <!--<link href="https://vasyabigi.github.io/angular-slick/bower_components/slick-carousel/slick/slick.css" rel='stylesheet' type='text/css' />-->

        <title ng-bind="Title">InvolvEd | ACHIEVE MORE with Parental Engagement</title>

        <base href="/">
    </head>
    
    <body>
        <div class="overlay"></div>
        <div id="preloader_right_content2" style="display:none">
            <div id="status_right_content2"></div>
        </div>

            <!--header start-->
            <header class="header">
                <div class="container">

                    <div class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" id="collapse_btn" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo"><a href="/"><img src="/images/logo.png" alt=""></a></div>
                        </div>
                        <!-- <div class="teacher_login"><a>Portal Login</a>
                            <div class="dropdown-content">
                                <a href="javascript:void(null);" ng-click="redirectToTeacher()">Teacher Portal</a>
                                <a href="javascript:void(null);" ng-click="redirectToStudent()">Student Portal</a>
                            </div>
                        </div> -->
                        <div class="navbar-collapse collapse" id="collapse_div">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Home</a></li>
                                <li><a href="./support.html">Support</a></li>
                                <li><a href="/#contactus_section">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!--header end-->

            <!-- landing page -->
            <div class="inner_content" id="home_section">
                <!--banner start-->
                <div class="banner_outr">
                    <div class="container">
                        <div class="arrow_top">
                            <a class="goTo" href="#" data-go-to="feature_area"><img src="/images/arrow.png" alt=""></a>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-5">
                                <div class="row">
                                    <h1>
                                        Building "Outstanding"
                                        <span>Family Partnerships!</span>
                                    </h1>
                                    <p>
                                        A unique, whole-school approach for <b>engaging families</b> with their <b>child’s education</b> and <b>well-being</b>. 
                                        Supported by experts in parental engagement, our parental engagement strategies, easy to use technology, 
                                        training and support <b>enable students to achieve more!</b>
                                    </p>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <div class="involved-video">
                                            <script src="https://fast.wistia.com/embed/medias/dvneyedyls.jsonp" async></script>
                                            <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                                            <span class="wistia_embed wistia_async_dvneyedyls popover=true popoverContent=link" style="display:inline">
                                                <a href="#"><img src="/images/watchvideo.png" alt=""></a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <div class="involved-video">
                                            <a href="/docs/HomeSchoolPartnerships.pdf" target="_blank"><img src="/images/wim.png" alt="Importance of Home School Partnerships"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-7">
                                <div class="pic_area">
                                    <div class="screen_slider">
                                        <div class=""><img src="/images/slide2.png" alt=""></div>
                                        <div class=""><img src="/images/slide6.png" alt=""></div>
                                        <div class=""><img src="/images/slide4.png" alt=""></div>
                                    </div>
                                    <img src="/images/mob_pic.png" alt="">
                                    <div class="app_btn">
                                        <a href="https://itunes.apple.com/es/app/involved/id1191771642?l=en&mt=8"><img src="/images/app_btn.png" alt=""></a>
                                        <a href="https://play.google.com/store/apps/details?id=com.live.su.involvedtech&hl=en"><img src="/images/app_btn2.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--banner end-->
                <!--feature part-->
                <div class="feature_area" id="feature_area">
                    <div class="container">
                        <h2>Our Approach</h2>
                        <div class="feature_cell">
                            <span><img src="/images/pic1.png" alt=""></span>
                            <h3><a href="javascript:void(0)">All Parents on One Platform</a></h3>
                            <p>
                                We have pioneered an approach in line with GDPR that ensures all parents are encouraged to get involved and engage with your school.
                                Our support team is on hand to guide parents through the simple set-up process.
                                Access to parents through a single platform is vital for improving efficiency in schools.
                            </p>
                        </div>
                        <div class="feature_cell">
                            <span><img src="/images/pic2.png" alt=""></span>
                            <h3><a href="javascript:void(0)">Provide Meaningful Information</a></h3>
                            <p>
                                Our innovations are always backed by research. Our research told us that for parents to take up an active role in their child’s education, they want information that is regular, meaningful and specific to their child’s attainment.
                                And so, we have teamed up with SIMS to provide parents just what they need.
                            </p>
                        </div>
                        <div class="feature_cell">
                            <span><img src="/images/pic3.png" alt=""></span>
                            <h3><a href="javascript:void(0)">Empower Teachers</a></h3>
                            <p>
                                To empower parents, it is important to empower teachers first. It is for this reason that we provide teachers with the ability to communicate directly with a parent in an instant.
                                To truly boost attainment and well-being of students, teachers must be empowered with the relevant skills in school to home communication.
                            </p>
                        </div>
                        <div class="feature_cell">
                            <span><img src="/images/pic4.png" alt=""></span>
                            <h3><a href="javascript:void(0)">Measure our Impact</a></h3>
                            <p>
                                As every student is unique, so is each school.
                                Rather than bombarding you with generic statistics on our success at other schools,
                                we will support you with surveys and analytics to chart success and understand the true impact of InvolvEd on parental confidence at your school.
                            </p>
                        </div>
                    </div>
                </div>
                <!--feature part end-->
                <!--testimonial start-->
               <div class="testimonials_area">
                    <div class="container">
                        <div class="testimonial_slider">
                            <div class="testimonial">
                                <div class="col-md-10 col-md-offset-1 col-sm-12">
                                    <div class="client_pic"><span class="sims_img"><img src="/images/sims.png" alt=""></span><img src="/images/prof_pic2.jpg" alt=""></div>
                                    <div class="client_comnt">
                                        <p>"As a school we are very clear on the importance of parental engagement and the role that technology can play in that. We were looking for a partner who was able to deliver the technology, but more importantly to respond to what we were looking for and what our parents told us they would like. We believe InvolvEd are a perfect partner for us and have given us a way of using our existing data without extra work. We are already starting to see the results of our partnership."</p>
                                        <h4>Simon Newton, Business Manager, Canons High School</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial">
                                <div class="col-md-10 col-md-offset-1 col-sm-12">
                                    <div class="client_pic"><span class="sims_img"><img src="/images/sims.png" alt=""></span><img src="/images/prof_pic1.png" alt=""></div>
                                    <div class="client_comnt">
                                        <p> It has been great to see 92% of parents sign up, within two weeks to receive regular updates about their child’s education. This combined with the automated sharing of progress information directly from SIMS, is leading to our teachers reporting improved homework submissions and parent/student engagement.
                                            The platform is simple to use, the training and support are exemplary.</p>
                                        <h4>Darren Silver, Digital Advocate and Biology Teacher</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial">
                                <div class="col-md-10 col-md-offset-1 col-sm-12">
                                    <div class="client_pic"><span class="sims_img"><img src="/images/sims.png" alt=""></span><img src="/images/prof_pic.jpg" alt=""></div>
                                    <div class="client_comnt">
                                        <p>As a teacher, the InvolvEd app gives me the ability to share responsibility of student development with parents. Not only does the teacher web app give me a clear and strategic view of my student’s progress, the easy to use features improve efficiency. Having used the app, it is evident that the team at InvolvEd have invested significant time and effort in making an excellent product for parents and teachers."</p>
                                        <h4>Will Hough, Head of Biology at Secondary School</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
                <!--testimonial end-->
                
                <!--case study start-->
                <div class="case_study">
                    <h2>Download our case study and see how we can work with your school...</h2>
                    <a href="/docs/CaseStudy.pdf" target="_blank"><img src="/images/case_study.png" alt="InvolvEd Canons Case Study"></a>
                </div>
            
                <!--case study end-->
                
                <!--parents section start-->
                <div class="SecC">
                    <div class="container">
                        <div class="parents-col" id="parent_section">
                            <h2>Parents & Students</h2>
                            <div class="parents">
                                <p>Empowered to take action</p>
                                <div class="mobpic_d mobpic_d2">
                                    <!--<div class="pulse1 pulse"><img src="/images/pulse1.png" alt=""></div>-->
                                    <img src="/images/phone.png" alt="" />
                                    <!--<div class="pulse2 pulse animated"><img src="/images/pulse2.png" alt=""></div>-->
                                </div>
                                <div class="parentsLF left_sec">
                                    <a class="pic_cell_right" href="javascript:void(0)"><img src="/images/home-icon.png" alt="" /></a>
                                    <div class="parentsLF_content">
                                        <a href="javascript:void(0)">Access via a Single App</a>
                                        <p class="hvr_content">Our app is the home for key information parents and students need on a daily basis to get involved. Parents with more than one child can track progress, attendance, view timetable and homework of all their children using a single account.</p>
                                    </div>
                                </div>
                                <div class="parentsLF parentsLS left_sec">
                                    <a class="pic_cell_right" href="javascript:void(0)"><img src="/images/text-icon.png" alt="" /></a>
                                    <div class="parentsLF_content">
                                        <a href="javascript:void(0)">Manage School Homework</a>
                                        <p class="hvr_content">Parents and Students clearly view all the homework, projects and class test as set by teachers. Our apps encourage students to request support where necessary and organise tasks by due date to promote timely homework submissions.</p>
                                    </div>
                                </div>
                                <div class="parentsLF parentsRA right_sec">
                                    <a class="pic_cell_left" href="javascript:void(0)"><img src="/images/message-icon.png" alt="" /></a>
                                    <div class="parentsLF_content">
                                        <a href="javascript:void(0)">Push Notifications</a>
                                        <p class="hvr_content">Parents and Students receive automated notifications straight into the palms of their hand when it comes to new homework and communication from teachers. Push notifications are brilliant at engaging parents and students in school work.</p>
                                    </div>
                                </div>
                                <div class="parentsLF parentsRB right_sec">
                                    <a class="pic_cell_left" href="javascript:void(0)"><img src="/images/analyge-icon.png" alt="" /></a>
                                    <div class="parentsLF_content">
                                        <a href="javascript:void(0)">View Live Reports</a>
                                        <p class="hvr_content">Our live reports and interactive charts are fantastic for parents and students to review their ongoing performance and take action. No longer do parents and students have to search for old progress reports to track their previous grades.</p>
                                    </div>
                                </div>
                                <div class="parentsLF parentsB">
                                    <img src="/images/lock-icon.png" alt="" />
                                    <div class="parentsLF_content" style="text-align:center;">
                                        <a href="javascript:void(0)">Safe, Secure and Private</a>
                                        <p class="hvr_content">Parents, Student and Teachers can use our platform with their minds at ease. We go the extra mile to protect your data. Our robust processes ensure that data is kept secure, and only visible to the responsible user.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="school" id="schools_section">
                                <h2>Teachers</h2>
                                <p>Share, engage and collaborate</p>
                                <div class="mobpic_d"><img src="/images/mac-destop.png" alt=""></div>
                                <div class="parentsLF left_sec">
                                    <a class="pic_cell_right" href="javascript:void(0)"><img src="/images/parents-ac.png" alt="" /></a>
                                    <div class="parentsLF_content">
                                        <a href="javascript:void(0)">Instant Access to Parents</a>
                                        <p class="hvr_content">Direct communication between teachers and parents is vital to boost student attainment and well-being. Using InvolvEd’s Messaging tool, teachers can discuss opportunities, share responsibility and reach out to parents in an instant with the help of push notifications.</p>
                                    </div>
                                </div>
                                <div class="parentsLF parentsLS left_sec">
                                    <a class="pic_cell_right" href="javascript:void(0)"><img src="/images/functional.png" alt="" /></a>
                                    <div class="parentsLF_content">
                                        <a href="javascript:void(0)">Efficient, yet Functional</a>
                                        <p class="hvr_content">It’s simple, we want teachers to spend as little time as possible on InvolvEd but their actions to have a significant impact. So, our teacher’s web app has been designed with an intuitive interface that makes setting homework a breeze.</p>
                                    </div>
                                </div>
                                <div class="parentsLF parentsRA right_sec">
                                    <a class="pic_cell_left" href="javascript:void(0)"><img src="/images/missed-hw.png" alt="" /></a>
                                    <div class="parentsLF_content">
                                        <a href="javascript:void(0)">A Focus on Teaching</a>
                                        <p class="hvr_content">We understand the importance for teachers to stay on top of their work. To save time, we have automated a daily reminder email that will notify teachers of any homework due for collection and/or any unread messages from parents.</p>
                                    </div>
                                </div>
                                <div class="parentsLF parentsRB right_sec">
                                    <a class="pic_cell_left" href="javascript:void(0)"><img src="/images/student-per.png" alt="" /></a>
                                    <div class="parentsLF_content">
                                        <a href="javascript:void(0)">Access to Attainment Data</a>
                                        <p class="hvr_content">With InvolvEd, teachers can view and compare a student’s attainment information across all his/her subjects. This information is crucial for teachers to identify and share a student’s learning and development needs with their parents.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- landing page end -->
            
            
            <!--Footer Start-->
            <footer class="footer_outr" id="contactus_section">
                <div class="footer-top">
                    <div class="container">
                        <div class="footer-topA clearfix">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="footer-colA">
                                        <a href="javascript:void(0)"><img src="/images/logo.png" alt=""></a>
                                        <div class="footer-social">
                                            <a href="https://www.facebook.com/involvedtech/" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            <a href="https://twitter.com/InvolvEdTech/" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="https://www.linkedin.com/company/15252058" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-5">
                                    <div class="footer-colB">
                                        <a href="tel:+447875430505">
                                            <img src="/images/tel-icon.png" alt="" />
                                            +44 (0) 7875 430 505
                                        </a>
                                        <a href="mailto:contact@involvedtech.co.uk">
                                            <img src="/images/mail-icon.png" alt="" />
                                            contact@involvedtech.co.uk
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-5">
                                    <div class="footer-colC">
                                        <div class="location">
                                            <img src="/images/location-icon.png" alt="" />
                                            <p>27 Old Gloucester Street <span>London</span> <span>WC1N 3AX</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-2">
                                    <div class="footer-colD">
                                        <ul class="footer-nav">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="./support.html">Support</a></li>
                                            <!--<li><a href="/blogs">Blogs</a></li>-->
                                            <li><a href="./faqs.html">FAQs</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-topB">
                            <div class="clearfix">
                                <ul class="company-policy clearfix">
                                    <li><a href="./tandc.html">Terms & Conditions</a></li>
                                    <li><a href="./cp.html">Cookies</a></li>
                                    <li><a href="./pp.html">Privacy Policy</a></li>
                                    <li><a href="./aup.html">Acceptable Use Policy</a></li>
                                </ul>
                                <div class="copy">© Copyright 2017 InvolvEdTech LLP Registered in England and Wales Registration OC411317</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="footer-bottom">
                    <div class="container">
                        <div class="footer-bottomIn clearfix">
                            <h2>Schedule a 15 minute call to find out more...</h2>
            
                            <button data-target="#myModal" data-toggle="modal" class="btn btn-info btn-default" data-keyboard="true"
                                    ng-click="bookDemo();">
                                Book Now
                            </button>
            
                        </div>
                    </div>
                </div> -->
            </footer>
            <!--footer end-->
    
    
        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>    
        <script type="text/javascript" src="js/jquery-ui.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-route.min.js"></script>
        <script type="text/javascript" src="js/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="js/angular-touch.js"></script>
        <script type="text/javascript" src="js/angular-sanitize.js"></script>
    
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/bootstrap-select.js"></script>
        <script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script type="text/javascript" src="js/taggedInfiniteScroll.js"></script>
        <script type="text/javascript" src="js/slick.min.js"></script>
        <script type="text/javascript" src="js/slick.js"></script>
        <script type="text/javascript" src="js/placeholders.min.js"></script>

        <script type="text/javascript" src="js/function.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>

        <script>
            $(document).ready(function () {
                $(".header .navbar-toggle").click(function () {
                    $("body").toggleClass("addpanel");
                });
                $(".overlay").click(function () {
                    $("body").removeClass("addpanel");
                    $('.navbar-collapse').collapse('toggle')
                });
            });
        </script>
    
        <!--[if lt IE 11]>
        <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond/js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </body>
</html>