<!DOCTYPE html>
<html lang="en">

    <head>
        <!--meta tag-->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=11,IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="A unique, whole-school approach for engaging families with their child’s education and well-being. Supported by experts in parental engagement, our engagement strategies, easy to use technology, training and support enable students to achieve more!" />
        <meta name="author" content="admin" />
        <!--<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />-->
    
        <!--favicon-->
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/images/favicon.png" type="image/png" />
        
    
        <!--fonts-->
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,900italic,900,700italic,700,500,500italic,400italic' rel='stylesheet' type='text/css' />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <!--minified css-->
        <link href="css/site.css" rel="stylesheet" type="text/css" />

        <!--original links-->
        <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />-->
        <!--<link href="https://vasyabigi.github.io/angular-slick/bower_components/slick-carousel/slick/slick.css" rel='stylesheet' type='text/css' />-->

        <title ng-bind="Title">InvolvEd | ACHIEVE MORE with Parental Engagement</title>

        <base href="/">
    </head>
    
    <body>
        <div class="overlay"></div>
        <div id="preloader_right_content2" style="display:none">
            <div id="status_right_content2"></div>
        </div>

            <!--header start-->
            <header class="header">
                <div class="container">

                    <div class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" id="collapse_btn" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo"><a href="/"><img src="/images/logo.png" alt=""></a></div>
                        </div>
                        <!-- <div class="teacher_login"><a>Portal Login</a>
                            <div class="dropdown-content">
                                <a href="javascript:void(null);" ng-click="redirectToTeacher()">Teacher Portal</a>
                                <a href="javascript:void(null);" ng-click="redirectToStudent()">Student Portal</a>
                            </div>
                        </div> -->
                        <div class="navbar-collapse collapse" id="collapse_div">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Home</a></li>
                                <li><a href="./support.html">Support</a></li>
                                <li><a href="/#contactus_section">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!--header end-->


<div class="inner_content">
    <!--title block no banner-->
    <div class="container">
        <div class="row">
            <div class="title_block_no_banner">
                <h2> Privacy Policy </h2>
                <span><i>Welcome to InvolvEd - thank you for using our products and services to improve and simplify parental engagement.</i></span>
            </div>                                  
        </div> 
    </div>
    <!--banner end-->

    <!--PP starts-->
    <div class="container">
        <div class="row">     
            <div class="page-body">
                <p> This privacy policy provides clarity on how InvolvEdTech LLP (“We”) collect, process and share your data when Our Users (“You”) use our Services (the InvolvEd platform). 
                    We have procedures in place for ensuring that we protect your privacy and only ever hold the information required to provide you with a fantastic experience of using our Services.</p>

                <p>We are committed to protecting and respecting your privacy and encourage you to contact us, if you have any queries, on <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a></p>

                <p>This policy (together with our <a href="/tandc">Terms and Conditions</a> and any other documents referred to on it) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. 
                    Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. 
                    By using our Services, you are accepting and consenting to the practices described in this policy.</p> 

                <p>For the purpose of the Data Protection Act 1998, the data controller is InvolvEdTech LLP of 27 Old Gloucester Street, London, United Kingdom, WC1N 3AX.</p>  
                
                <p><b><u>Note to Parents and Teachers:</u></b> when using our services after unlocking student accounts with your security credentials you have access to children’s attainment, attendance and behaviour information. 
                    You also have access to a messaging service between parents and teachers which may contain sensitive personal data. 
                    Be aware that you are responsible for ensuring this data remains secure once you have unlocked the accounts. 
                    Always be sure to log out or secure your device with a lock code, fingerprint or other security method to prevent unauthorised access to these details.  </p> 

                <h3>Information we collect: </h3>             
                
                <p> All information that we collect, is for the purpose of providing you with an appropriate and relevant service which will ultimately aid you to improve a child’s attainment. 
                    We do not specifically target, collect, store or process sensitive personal data. 
                    However, this type of data maybe contained in messages sent between parents and teachers.</p>
                <p>We will collect and process the following data about you:</p>
                <h3>Set-up and Profile Creation:</h3>
                <ol>
                    <li>We collect, store and process the information that parents provide during registration (such as: name, title, DOB, e-mail address, telephone number) so that we can provide our service to them. This information is used to create parent profiles in our services.</li>
                    <li>We collect, store and process information that is stored within the school’s databases (such as: teacher’s names, pupil’s names, titles, class names, class codes, e-mail addresses, photos) to create user profiles for teachers and students in our services.</li>
                    <li>We collect, store and process student attainment, behaviour and attendance information from the school’s databases (such as: subject based performance, subject based target grades, subject based attendance, achievement points) so that we can provide the relevant information to make our service useful for parents, students and teachers.</li>
                </ol>
                <h3>Non-Anonymous Usage Information:</h3>                
                <ol>
                    <li>We store and may use all messages sent between teachers and parents (for example: child protection, fact verification, service improvement or crime prevention).</li>
                    <li>We store and may use all tasks and the information contained within them (for example: analysing task creation, service improvement or providing new services).</li>
                    <li>We collect, store and process support requests and the information contained within these. This helps us to improve our service to you. </li>
                </ol>
                <h3>Anonymous Usage Information:</h3>
                <p>All the data collected, analysed and processed in this section is anonymous and we would retain the rights to this information. 
                This type of data may be shared at InvolvEdTech LLP’s discretion.</p>
                <ol>                                    
                    <li>We collect, analyse and store usage statistics through automated systems built into our software for example: mouse overs, click-throughs, time spent on a particular screen demographics of users, etc. 
                        This is for the purpose of improving our service and ensuring better features and functionalities can be introduced.</li>
                    <li>We may collect, store and process IP addresses, browser type, OS and associated location information of users so that we can enhance our services with improved functionalities, features and introduce the use of more advanced technologies.</li>
                </ol>
                <h3>Communication and Marketing</h3>
                <ol>
                    <li>We will use user e-mail as the primary methods of communication. This will be used to provide information such as service updates, service support, communication, additional services and service termination notices. </li> 
                    <li>We will not market products to students.</li>
                    <li>We will only market products or services to teachers and parents that are related to the market segment that we operate in.</li>
                    <li>We may provide links to other web-sites through our services or web-site. Please note that these web-sites will have their own privacy policies. It is your responsibility to check these before entering any data into their website.</li>
                </ol>
                <h3>How we will not use your Information</h3>
                <ol>
                    <li>We will not sell any information that we hold on you.</li> 
                    <li>We will not use your information to market products and services that have not been requested by you.</li>
                    <li>We will never sell on or transfer your data as part of any company winding up procedures. </li>
                    <li>All your usage information will be stored for a maximum of two years after either you close your InvolvEd Account Or your school terminates their agreement with us for audit purposes.</li>
                </ol>
                <h3>Where your Information Is Stored</h3>
                <ol>
                    <li>All your information is stored in the EEA through our secure hosting provider.</li> 
                    <li>We will ensure that our databases are always hosted with the European Economic Area (EEA).</li>
                    <li>We may from time to time use services outside of the EEA to process anonymous usage information.</li>
                </ol>            
                <p>Unfortunately, the transmission of information via the internet is not completely secure. 
                Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to, through and from our site; any transmission is at your own risk. 
                Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.</p>
                <h3>Disclosure of Information</h3>
                <p>You agree that we have the right to share your personal information with:</p>
                <ol>
                    <li>Any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries, as defined in section 1159 of the UK Companies Act 2006.</li>
                </ol>
                <p>We will disclose your personal information to third parties:</p>
                <ol>
                    <li>In the event that we sell or buy any business or assets, in which case we will disclose your personal data to the prospective seller or buyer of such business or assets.</li>
                    <li>If InvolvEdTech LLP or substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets.</li>
                    <li>If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our terms of use and other agreements; or to protect the rights, property, or safety of InvolvEdTech LLP, our customers, or others. 
                        This includes exchanging information with other companies and organisations for the purposes of fraud protection.</li>
                </ol>
                <p>We will take the following actions if we believe that copyright infringement is taking place on our platform:</p>
                <ol>
                    <li>Reserving the right to disclose identity if copyright materials are posted by a user.</li>
                    <li>Suspending usage and removing the associated content.</li>
                    <li>Permanently terminating accounts for repeat infringements.</li>
                </ol>
                <h3>Cookies</h3>
                <p>Our website uses cookies to distinguish you from other users of our website. 
                    This helps us to provide you with a good experience when you browse our Services and also allows us to improve our offering. 
                    For detailed information on the cookies we use and the purposes for which we use them see our <a href="/cp">Cookies Policy</a>.</p>
                <h3>Right to Access your Data</h3>
                <p>Under the Data Protection Act of 1998 you have a right to know all personal data belonging to you that we are storing and/or processing. 
                    We are also entitled to inform you of the purpose of this data, though this is covered by this Privacy Policy. 
                    We charge a nominal fee of £10 for this information and would supply this to you within 30 days of request.</p>
                <p>You have the right to ask us to remove or not to process your personal data for marketing purposes. 
                    You can exercise these rights to prevent such processing by contacting us at <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a>.</p>
                <p>Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. 
                    If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. 
                    Please check these policies before you submit any personal data to these websites.</p>
                <h3>Changes to our Privacy Policy</h3>
                <p>Any changes we make to our Privacy Policy in the future will be posted on this page and, where appropriate, notified to you by e-mail. 
                    Please check back frequently to see any updates or changes to our Privacy Policy.</p>
                <h3>Contact</h3>
                <p>Questions, comments and requests regarding this Privacy Policy are welcomed and should be addressed to <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a>.</p>           
            </div>
        </div>
    </div>
</div>
<!--Footer Start-->
<footer class="footer_outr" id="contactus_section">
    <div class="footer-top">
        <div class="container">
            <div class="footer-topA clearfix">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="footer-colA">
                            <a href="javascript:void(0)"><img src="/images/logo.png" alt=""></a>
                            <div class="footer-social">
                                <a href="https://www.facebook.com/involvedtech/" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/InvolvEdTech/" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/company/15252058" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-5">
                        <div class="footer-colB">
                            <a href="tel:+44-7413440211">
                                <img src="/images/tel-icon.png" alt="" />
                                +44 (0) 7413 440 211
                            </a>
                            <a href="mailto:involvedtechllp@gmail.com">
                                <img src="/images/mail-icon.png" alt="" />
                                involvedtechllp@gmail.com
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-5">
                        <div class="footer-colC">
                            <div class="location">
                                <img src="/images/location-icon.png" alt="" />
                                <p>27 Old Gloucester Street <span>London</span> <span>WC1N 3AX</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        <div class="footer-colD">
                            <ul class="footer-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="./support.html">Support</a></li>
                                <!--<li><a href="/blogs">Blogs</a></li>-->
                                <li><a href="./faqs.html">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-topB">
                <div class="clearfix">
                    <ul class="company-policy clearfix">
                        <li><a href="./tandc.html">Terms & Conditions</a></li>
                        <li><a href="./cp.html">Cookies</a></li>
                        <li><a href="./pp.html">Privacy Policy</a></li>
                        <li><a href="./aup.html">Acceptable Use Policy</a></li>
                    </ul>
                    <div class="copy">© Copyright 2017 InvolvEdTech LLP Registered in England and Wales Registration OC411317</div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottomIn clearfix">
                <h2>Schedule a 15 minute call to find out more...</h2>

                <button data-target="#myModal" data-toggle="modal" class="btn btn-info btn-default" data-keyboard="true"
                        ng-click="bookDemo();">
                    Book Now
                </button>

            </div>
        </div>
    </div> -->
</footer>
<!--footer end-->

<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>    
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="js/angular-touch.js"></script>
<script type="text/javascript" src="js/angular-sanitize.js"></script>

<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap-select.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="js/taggedInfiniteScroll.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/slick.js"></script>
<script type="text/javascript" src="js/placeholders.min.js"></script>

<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<script>
$(document).ready(function () {
    $(".header .navbar-toggle").click(function () {
        $("body").toggleClass("addpanel");
    });
    $(".overlay").click(function () {
        $("body").removeClass("addpanel");
        $('.navbar-collapse').collapse('toggle')
    });
});
</script>

<!--[if lt IE 11]>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond/js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>