<!DOCTYPE html>
<html lang="en">

    <head>
        <!--meta tag-->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=11,IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="A unique, whole-school approach for engaging families with their child’s education and well-being. Supported by experts in parental engagement, our engagement strategies, easy to use technology, training and support enable students to achieve more!" />
        <meta name="author" content="admin" />
        <!--<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />-->
    
        <!--favicon-->
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/images/favicon.png" type="image/png" />
        
    
        <!--fonts-->
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,900italic,900,700italic,700,500,500italic,400italic' rel='stylesheet' type='text/css' />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <!--minified css-->
        <link href="css/site.css" rel="stylesheet" type="text/css" />

        <!--original links-->
        <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />-->
        <!--<link href="https://vasyabigi.github.io/angular-slick/bower_components/slick-carousel/slick/slick.css" rel='stylesheet' type='text/css' />-->

        <title ng-bind="Title">InvolvEd | ACHIEVE MORE with Parental Engagement</title>

        <base href="/">
    </head>
    
    <body>
        <div class="overlay"></div>
        <div id="preloader_right_content2" style="display:none">
            <div id="status_right_content2"></div>
        </div>

            <!--header start-->
            <header class="header">
                <div class="container">

                    <div class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" id="collapse_btn" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo"><a href="/"><img src="/images/logo.png" alt=""></a></div>
                        </div>
                        <!-- <div class="teacher_login"><a>Portal Login</a>
                            <div class="dropdown-content">
                                <a href="javascript:void(null);" ng-click="redirectToTeacher()">Teacher Portal</a>
                                <a href="javascript:void(null);" ng-click="redirectToStudent()">Student Portal</a>
                            </div>
                        </div> -->
                        <div class="navbar-collapse collapse" id="collapse_div">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Home</a></li>
                                <li><a href="./support.html">Support</a></li>
                                <li><a href="/#contactus_section">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!--header end-->


<div class="inner_content">
    <!--title block no banner-->
        <div class="container">
            <div class="row">
                <div class="title_block_no_banner">
                    <h2> Terms and Conditions </h2>
                    <span><i>Welcome to InvolvEd - thank you for using our products and services to improve and simplify parental engagement.</i></span>
                </div>                                  
            </div> 
        </div>

    <!--banner end-->

    <!--t's and c's definitions start-->
    <div class="container">
        <div class="row">     
            <div class="definitions">
                <p> These Terms and Conditions form part of the binding legal agreement between:</p> 
                <p><b> “We, Us” - InvolvEdTech LLP of 27 Old Gloucester Street, London, WC1N 3AX </b></p>
                <p> and </p>
                <p><b> “You” - Our Customer </b> (whether School staff member, Local Authority staff member, another Educational Establishment staff member, Parent/Guardian, Teacher or Student)</p>
                <p> for the use of InvolvEdTech LLP’s </p>
                <p><b> “Service” - the InvolvEd Applications and associated Support Services </b></p>
            </div>
            <div class="page-body">
                <div class="consent">
                    <p> By accessing our Service, you agree that you have carefully read these Terms and Conditions as well as the supporting Terms of Reference. 
                        These items form the basis of our relationship and the legal agreement between us. 
                        If you do not agree with any of the Terms and Conditions stated, then please refrain from accessing our Service. 
                        By agreeing to these Terms and Conditions you give us explicit consent to hold, store and process your data. </p>

                    <p><b> By accessing our Services, you agree that we may contact you about any promotional activities and associated products/services. 
                        These activities/products/services may also be from our carefully selected commercial partners. 
                        We may contact you by e-mail or telephone, however you retain the right to opt-out by logging a request to the <a href="mailto:support@involvedtech.co.uk">InvolvEd Support Team</a></b>.</p>
                </div>
                    <h3>Terms of Reference</h3>
                    <ol type="1">
                        <li><a href="/pp.html">Privacy Policy</a></li>
                        <li><a href="/cp.html">Cookies Policy</a></li>
                        <li><a href="/aup.html">Acceptable Use Policy</a></li>
                    </ol>      
                    
                    <h3>Terms of Use</h3>
                    <p>Any breach of these terms may lead to temporary or permanent account closure.</p>
                    <ol type="1">
                        <li>The use of our services is restricted as per the contractual agreement between You and Us. For example: number of users, length of use, payments, cancellations, etc.</li>
                        <li>The terms of use for our service are between You and Us, no third party may enter into this agreement. The service may not be rented, leased, time-shared, sub licensed or transferred.</li>
                        <li>The service may not be modified, translated, adapted, disassembled, reverse engineered or in any way the source code copied.</li>
                        <li>The use of our service is for the improvement of student attainment through parent, teacher and student collaboration on attainment, behaviour, attendance and extra-curricular matters. The service must not be used for any other purpose. We reserve the right to remove content we deem to be inappropriate (as defined by us) from our Services, see <a href="/aup">Acceptable Use Policy</a>.</li>
                        <li>The service must be used through the designed user interface, with the appropriate security credentials. It must not be accessed or manipulated by any other means, whether automated or manual. Users must use a valid e-mail address that they are the owner of.</li>
                        <li>It is your responsibility to ensure that all security credentials remain protected. This includes all usernames, passwords and unique codes. If breached, we reserve the right to block access to all associated accounts until new credentials and security arrangements are in place.</li>
                        <li>If you receive security credentials that are not belonging to you then you must inform us immediately on <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a> and not use those credentials to access our service.</li>
                        <li>Use of our service does not give you any intellectual property rights or any rights for the use, distribution or publishing of our designs, logos, fonts, icons and branding.</li>
                        <li>Not all content provided through the service is created by InvolvEdTech LLP. In the case where content is not created by InvolvEdTech LLP, the responsibility of the content lies with the content owner (the person who created, sent, uploaded the content to our service). All content must follow our <a href="/aup">Acceptable Use Policy</a>.</li>
                        <li>Our services must not be used for other commercial activities until written permission is granted by us.</li>
                        <li>There shall be no unauthorised access to the “back-end” of our Service, this includes the InvolvEd database and servers. You must not introduce viruses, must not attack via DOS or DDOS. Breaching any of these points will be considered a criminal offence and reported to the relevant crime prevention agency.</li>
                        <li>If there is ever the need to deactivate your account, please follow instructions within the settings menu of the mobile application.</li>
                        <li>For any support queries, aside from student unique codes which are issued by your school, please contact InvolvEdTech on <a href="mailto:support@involvedtech.co.uk">support@involvedtech.co.uk</a>.</li>
                        <li>InvolvEdTech LLP reserves the right to contact parents or teachers via phone or e-mail to verify identity, address account queries and offer any educational related services.</li>
                    </ol>
                    <p><b><u>Note to Parents and Teachers:</u></b> when using our services, and unlocking your accounts with your security credentials you have access to children’s attainment, attendance and behaviour information. 
                    You also have access to a messaging service between parents and teachers which may contain sensitive personal data. 
                    Be aware that you are responsible for ensuring this data remains secure once you have unlocked the accounts. 
                    Always be sure to log out or secure your device with a security system such as lock code or fingerprint to prevent unauthorised access to these details. 
                    <b>Parents/Guardians accept full responsibility for their children’s use of our software and must ensure that children follow these Terms and Conditions and the associated Terms of Reference.</b></p>
                    
                    <h3>Modification and Termination of Service</h3>  
                    <ol type="1">
                        <li>In order to continue improving our offering, we reserve the right to add, remove or change functionalities and features of our service. For example: to fix issues and bugs, introduce new services, etc.</li>
                        <li>If we terminate a service, we will ensure that you are notified in advance of this and provided the opportunity to remove the data that you own.</li>
                    </ol>
                    
                    <h3>Warranties and Disclaimers</h3>
                    <ol type="1">
                        <li>We provide our services based on a reasonable level of skill, care and attention towards security and intended use. However, we provide no guarantees, warranties or promises about the product.</li>
                        <li>Our service is provided “as-is” and we cannot guarantee content, functions of our service, reliability, availability and the ability for the service to meet your exact needs.</li>
                        <li>We are unable to guarantee 100% on-time and will not be held liable for any downtime.</li>
                        <li>Any planned down-time will be organised around off-peak hours.</li>
                        <li>We are unable to guarantee the quality of data. The quality of data will be determined by the data entered into our service or the supporting systems. It is the content owners’ responsibility to ensure that this data is correct.</li>
                        <li>To the extent provided by law, we exclude all warranties.</li>
                    </ol>
                    
                    <h3>Liability of our Service</h3>
                    <ol type="1">
                        <li>To the extent permitted by law, we are not responsible for any lost revenue, profits or data. Whether these loses are direct or indirect.</li> 
                        <li>To the extent permitted by law, the total liability shall be limited to the amount paid for our services in the current contract period.</li>
                        <li>To the extent permitted by law, our suppliers and us are not responsible for loss or damage that is not reasonably foreseeable.</li> 
                        <li>Your legal rights as a consumer are unaffected by the terms in this contract or any of the additional terms.</li> 
                    </ol>
                    
                    <h3>About these Terms</h3>
                    <ol type="1">
                        <li>We may modify these terms and conditions or the additional terms for associated services at any time. We will provide a minimum of 14 days’ notice before a change in terms.</li>
                        <li>If there is a requirement by law or a new feature or functionality is introduced, then terms will be changed immediately.</li>
                        <li>If there is inconsistency between these terms and additional terms, then the additional terms prevail to the extent of the inconsistency.</li>
                        <li>We reserve the right to take future action against you if you violate these terms, even if immediate action is not taken.</li>
                        <li>Each of the statements in these terms can be enforced in their own right.</li> 
                        <li>These terms are enforceable by the laws and courts of England and Wales.</li>
                    </ol>
            </div>
        </div>
    </div>
</div>
<!--t's and c's definitions end-->



<!--Footer Start-->
<footer class="footer_outr" id="contactus_section">
    <div class="footer-top">
        <div class="container">
            <div class="footer-topA clearfix">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="footer-colA">
                            <a href="javascript:void(0)"><img src="/images/logo.png" alt=""></a>
                            <div class="footer-social">
                                <a href="https://www.facebook.com/involvedtech/" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/InvolvEdTech/" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/company/15252058" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-5">
                        <div class="footer-colB">
                            <a href="tel:+44-7413440211">
                                <img src="/images/tel-icon.png" alt="" />
                                +44 (0) 7413 440 211
                            </a>
                            <a href="mailto:involvedtechllp@gmail.com">
                                <img src="/images/mail-icon.png" alt="" />
                                involvedtechllp@gmail.com
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-5">
                        <div class="footer-colC">
                            <div class="location">
                                <img src="/images/location-icon.png" alt="" />
                                <p>27 Old Gloucester Street <span>London</span> <span>WC1N 3AX</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        <div class="footer-colD">
                            <ul class="footer-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="./support.html">Support</a></li>
                                <!--<li><a href="/blogs">Blogs</a></li>-->
                                <li><a href="./faqs.html">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-topB">
                <div class="clearfix">
                    <ul class="company-policy clearfix">
                        <li><a href="./tandc.html">Terms & Conditions</a></li>
                        <li><a href="./cp.html">Cookies</a></li>
                        <li><a href="./pp.html">Privacy Policy</a></li>
                        <li><a href="./aup.html">Acceptable Use Policy</a></li>
                    </ul>
                    <div class="copy">© Copyright 2017 InvolvEdTech LLP Registered in England and Wales Registration OC411317</div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottomIn clearfix">
                <h2>Schedule a 15 minute call to find out more...</h2>

                <button data-target="#myModal" data-toggle="modal" class="btn btn-info btn-default" data-keyboard="true"
                        ng-click="bookDemo();">
                    Book Now
                </button>

            </div>
        </div>
    </div> -->
</footer>
<!--footer end-->

<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>    
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="js/angular-touch.js"></script>
<script type="text/javascript" src="js/angular-sanitize.js"></script>

<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap-select.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="js/taggedInfiniteScroll.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/slick.js"></script>
<script type="text/javascript" src="js/placeholders.min.js"></script>

<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<script>
$(document).ready(function () {
    $(".header .navbar-toggle").click(function () {
        $("body").toggleClass("addpanel");
    });
    $(".overlay").click(function () {
        $("body").removeClass("addpanel");
        $('.navbar-collapse').collapse('toggle')
    });
});
</script>

<!--[if lt IE 11]>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond/js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>